html, body {
  height: 100%;
}
app-root {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  display: block;
}
.full {
  /* 57px for header */
  height: calc(100vh - 73px);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-dialog-container {
  padding: 0 !important;
}
.mat-slide-toggle .mat-slide-toggle-label {
  height: 40px !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
