<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <span class="navbar-brand text-label">{{getHeader()}}</span>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <div class="navbar-nav flex-grow" [hidden]="($loggedIn | async) === false">
          <button class="nav-item" mat-icon-button color="primary" (click)="logout()">
            <mat-icon>logout</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
